@import "~src/styles/index.scss";

.teachers-list {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $black;
    border-radius: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;

    a {
      color: $black;
    }

    &:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 1rem 2rem rgba($black, 0.2);

      .teachers-list__img {
        width: 22rem;
      }
    }
  }

  &__img {
    transition: all 0.3s;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    object-position: center;
  }
}
