@import "~src/styles/index.scss";

.tasks {
  font-size: 1.4rem;
  width: 100%;
  padding: 3rem;
  position: relative;

  &__header {
    .btn {
      width: 5%;
    }
  }

  &__title {
    font-size: 4rem;
  }

  &__box {
    margin-top: 3rem;
  }

  &--empty {
    font-size: 2.5rem;
  }

  &__total {
    font-size: 1.8rem;
  }

  &__actions {
    display: flex;
    gap: 2rem;

    .btn {
      width: 15rem;
    }
  }

  &__stats {
    display: flex;
    gap: 2rem;
  }
}
