<div class="module-info">
  <div class="module-info__overall">
    <h3 class="module__heading">Overall</h3>
    <div class="module-box">
      <div class="module-box__item">
        <h4>Classes</h4>
        <p>4/5</p>
      </div>
      <div class="module-box__item">
        <h4>Credits</h4>
        <p>80/ <span>100</span></p>
      </div>
      <img src="./assets/icons/modules.png" alt="Modules Image" />
    </div>
  </div>
  <div class="module-info__details">
    <h3 class="module__heading">Details</h3>
    <div class="module-box">
      <div class="module-box__info">
        <h4>Database Systems Development</h4>
        <p>Level 5 module | Core type</p>
      </div>
      <div class="module-box__info">
        <p>Module Teachers:</p>
        <ul>
          <li>Dmitriy Pochitaev</li>
          <li>Shahbazkia Hamid Reza</li>
        </ul>
      </div>
      <div class="module-box__info">
        <p><span>Seminars</span> in a week: 3</p>
        <p><span>Lectures</span> in a week: 1</p>
      </div>
      <div class="module-box__info">
        <p>This module is covering in: BIS, BM courses</p>
      </div>
      <div class="module-box__info">
        <p><span>Credits:</span> 20</p>
      </div>
    </div>
  </div>
</div>
