<div class="card">
  <app-nav></app-nav>
  <div class="schedule-edit">
    <div class="schedule-modules" *ngIf="modules$ | async as modules">
      <h2>Modules</h2>
      <!-- Id to binding -->
      <select [(ngModel)]="currentModule">
        <!-- ID in value -->
        <option [value]="module.id" *ngFor="let module of modules">
          {{ module.moduleName }}
        </option>
      </select>
      <div class="schedule-box">
        <h3>{{ currentModule }}</h3>
        <!-- <ul>
          <li class="schedule-module" *ngFor="let t of slot.classes">
            <h4>{{ t.moduleName }}</h4>
            <p>
              {{
                "Time: " + t.time + "-" + (+t.time + 2) + " | " + t.day
                  | titlecase
              }}
            </p>
            <p>{{ "Group: " + t.groups }}</p>
            <p>{{ t.tutor + " | Venue: " + t.venue }}</p>
            <div class="schedule-box__actions">
              <button class="btn">Add</button>
              <button class="btn btn--outline">Remove</button>
            </div>
          </li>
        </ul> -->
      </div>
    </div>
    <div class="schedule-days"></div>
  </div>
  <!-- Check if use has modules -->
  <p class="no-modules" *ngIf="false">
    You did not set up modules! Select <a routerLink="/modules">modules</a> to
    make schedule!
  </p>
</div>
