@import "~src/styles/index.scss";

.card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-edit {
  font-size: 1.4rem;
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.schedule-modules {
  width: 65%;
}

.schedule-box {
  margin: 2rem 0;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
  }

  &__actions {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;

    .btn {
      width: 10rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.schedule-days {
  width: 30%;
  background-color: $color-main;
  height: 85vh;
}

.no-modules {
  text-align: center;
  font-size: 2rem;
  margin: 5rem 0;
}

.schedule-module {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2rem 3rem;
  width: 40rem;
  border: 1px solid $color-main;
  border-radius: 1rem;
  transition: all 0.2s;
  margin: 1rem 0;

  &:hover {
    background-color: $color-main;
    color: $white;
  }
}
