<app-alert
  *ngIf="response"
  [message]="response"
  (close)="onHandleError()"
></app-alert>
<div class="module-list">
  <h4>
    <img
      src="./assets/icons/info.svg"
      alt="Info Icon"
      title="List of your classes that can be modified"
    />
    List of your classes
  </h4>
  <ul class="module-list__box">
    <app-module-item
      *ngFor="let item of modules; let i = index"
      [module]="item"
      class="module-item"
      [style.animation-delay]="0.15 * i + 's'"
      [canBeChanged]="canBeChanged"
      (addModule)="onTakeModule($event)"
      (remModule)="onRemoveModule($event)"
      (click)="selectModule(item)"
    ></app-module-item>
  </ul>
  <p *ngIf="!modules">Select Modules Tab</p>
</div>
