<div class="schedule__item">
  {{ day }}
  <img src="./assets/icons/arrow.svg" alt="Arrow Icon" class="active" />
  <div class="schedule__content">
    <ul>
      <li>
        <h4>10:00 - 12:00</h4>
        <p>{{ day.moduleName }}</p>
        <p>Venue: SHB 304</p>
        <p>Tutor - Daryoush Alimohammadiv | Seminar for 5BIS2</p>
      </li>
      <li>
        <h4>10:00 - 12:00</h4>
        <p>Information Systems Management</p>
        <p>Venue: SHB 304</p>
        <p>Tutor - Daryoush Alimohammadiv | Seminar for 5BIS2</p>
      </li>
    </ul>
  </div>
</div>
