<div class="schedule__item">
  {{ dayIndex | formatConst: daysConst }}
  <img
    src="./assets/icons/arrow.svg"
    alt="Arrow Icon"
    *ngIf="!isEmpty(day)"
    [class.active]="isOpen"
    (click)="toggleOpen()"
  />
  <div class="schedule__content" [class.active]="isOpen">
    <ul>
      <app-schedule-class
        *ngFor="let class of day; let i = index"
        [class]="class"
        [index]="i"
      ></app-schedule-class>
    </ul>
  </div>
  <p *ngIf="isEmpty(day)">The day is empty</p>
</div>
