*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: $white;
  color: $color-primary;

  padding: 5rem;
  background-color: $color-tertiary;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  padding: 0;
}

::selection {
  background-color: $color-primary;
  color: $white;
}

// FORMS
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  position: relative;

  label {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    // position: absolute;
    // top: 20%;
    // left: 1rem;
  }

  input,
  select {
    width: 100%;
    border: none;
    padding: 1.5rem 0.5rem;
    border-bottom: 1px solid $color-primary;
    background-color: transparent;
    outline: $color-primary;
    transition: 0.1s all;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

    &::placeholder {
      color: $color-primary;
      font-family: "Poppins";
      font-weight: 500;
    }

    &.emoji {
      width: 10rem;
      align-self: center;
      background-color: $color-primary;
      border-radius: 50%;
      height: 10rem;
      color: $white;
      text-align: center;
    }

    &.ng-invalid.ng-touched {
      border-radius: 1rem;
      border: 1px solid $color-primary;
    }
  }

  &__dob {
    flex-direction: row;
    justify-content: space-between;

    gap: 1rem;

    input {
      width: 30%;
    }
  }

  &__status {
    position: relative;

    span {
      position: absolute;
      top: 25%;
      right: 1rem;
      cursor: pointer;
    }
  }
}

// BUTTONS
.btn {
  width: 100%;
  padding: 1.5rem 0;
  border-radius: 1rem;
  border: none;
  background-color: $color-primary;
  color: $white;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  height: 5rem;

  &:disabled {
    background-color: $gray;
    cursor: not-allowed;
  }

  &--outline {
    background-color: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;
  }
}

// RESPONSE
.error {
  color: $warning;
  font-size: 1.2rem;
}

// CARD
.card {
  width: 100%;
  padding: 3rem;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  min-height: 92vh;
}

// SPINNER
.spinner {
  text-align: center;
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .lds-ripple {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
