<div class="modules-nav">
  <h2>Modules +</h2>
  <div class="modules-navbox">
    <ul>
      <li
        *ngFor="let item of navItems"
        [ngClass]="{ active: currentModules === item.value }"
        (click)="onSelect(item.value)"
      >
        {{ item.name }}
      </li>
    </ul>
    <div class="modules-navbox__sort">
      <p>Sort by:</p>
      <select name="sort" id="sort">
        <option value="name">Name</option>
        <option value="credits">Core</option>
        <option value="credits">Optional</option>
        <option value="level">Level</option>
      </select>
      <img src="./assets/icons/arrow-down.svg" alt="Arrow Down Icon" />
    </div>
  </div>
</div>
