<div class="card">
  <app-alert
    *ngIf="error"
    [message]="error"
    (close)="onHandleError()"
  ></app-alert>
  <app-nav></app-nav>
  <div class="module">
    <div class="module-view">
      <app-module-nav (change)="onChangeModules($event)"></app-module-nav>
      <app-module-list
        [modules]="modules"
        [canBeChanged]="canBeChanged"
        (onSelectModule)="onSelectModule($event)"
      ></app-module-list>
    </div>
    <div class="module-bar">
      <app-module-info
        [modulesNumber]="modules.length"
        [credits]="userCredits"
        [module]="selectedModule"
      ></app-module-info>
    </div>
  </div>
</div>
<app-core-modules
  *ngIf="isCoreModulesNeeded"
  (closeModal)="onCloseModal()"
></app-core-modules>
