<div class="card card-default">
  <app-alert
    *ngIf="error"
    [message]="error"
    (close)="onHandleError()"
  ></app-alert>
  <app-nav></app-nav>
  <div class="module">
    <div class="module-view">
      <app-module-nav
        (change)="onChangeModules($event)"
        (sort)="onSort($event)"
      ></app-module-nav>
      <app-module-list
        [modules]="modules$ | async | filter: sortValue:sortType"
        [canBeChanged]="canBeChanged"
        (onSelectModule)="onSelectModule($event)"
      ></app-module-list>
      <p *ngIf="(modules$ | async | filter: sortValue:sortType).length === 0">
        No modules in this category
      </p>
    </div>
    <div class="module-bar">
      <app-module-info
        [modulesNumber]="(modules$ | async).length"
        [credits]="userCredits$ | async"
        [module]="selectedModule"
      ></app-module-info>
    </div>
  </div>
</div>
<app-core-modules
  *ngIf="isCoreModulesNeeded"
  (closeModal)="onCloseModal()"
  title="Welcome to module section!"
  text="Your core modules will be added by default and they cannot be changed. In
  addition, you can choose optional modules based on credits per semester."
></app-core-modules>
