<div class="modal">
  <button class="btn--close-modal" (click)="closeModal.emit()">&times;</button>
  <h2 class="modal__header">
    {{ isNew() ? "Create New Task" : "Update the Task" }}
  </h2>
  <form class="modal-form" #tasksForm="ngForm" (ngSubmit)="onSubmit(tasksForm)">
    <div class="modal-form__control">
      <label for="taskTitle">Task Title</label>
      <input
        type="text"
        id="taskTitle"
        name="taskTitle"
        #taskTitle="ngModel"
        [(ngModel)]="task.taskTitle"
        ngModel
        required
      />
      <span class="error" *ngIf="!taskTitle.valid && taskTitle.touched"
        >Please enter a title for the task!</span
      >
    </div>

    <div class="modal-form__control">
      <label for="taskDescription">Task Description</label>
      <textarea
        id="taskDescription"
        name="taskDescription"
        #taskDescription="ngModel"
        [(ngModel)]="task.taskDescription"
        required
        maxlength="256"
      ></textarea>
      <span
        class="error"
        *ngIf="!taskDescription.valid && taskDescription.touched"
        >Please enter a description for the task!</span
      >
    </div>

    <button class="btn" type="submit" [disabled]="!tasksForm.valid">
      {{ isNew() ? "Submit" : "Update" }}
    </button>
  </form>
</div>
<div class="overlay" (click)="closeModal.emit()"></div>
