@import "~src/styles/index.scss";

.schedule {
  font-size: 1.4rem;
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    gap: 3rem;

    h2 {
      font-size: 3rem;
      font-weight: bold;
    }
  }

  &-btn {
    width: 20rem;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__box {
    margin: 5rem auto;
  }
}

.no-modules {
  text-align: center;
  font-size: 2rem;
  margin: 5rem 0;
}
