<div class="card">
  <app-nav></app-nav>
  <div class="exams" *ngIf="exams$ | async as exams">
    <div class="exams__header">
      <h1 class="exams__title">Exams</h1>
      <button class="btn" type="button" (click)="onOpenModal()">
        Add Exam
      </button>
    </div>
    <div class="exams__box">
      <p class="exams__total">{{ "Total number of exams: " + exams.length }}</p>
      <ul *ngIf="!isEmpty(exams)">
        <app-exams-item
          *ngFor="let exam of paginatedExamsList(exams)"
          [exam]="exam"
          (editExam)="onEditExam($event)"
        >
        </app-exams-item>
      </ul>
      <div *ngIf="isEmpty(exams)" class="exams--empty">
        No exams found.
        <span class="highlight" (click)="onOpenModal()">Create One.</span>
      </div>

      <div class="exams__actions">
        <button *ngIf="page > 1" (click)="page = page - 1" class="btn">
          Back
        </button>
        <button
          *ngIf="hasNextPage(exams)"
          (click)="page = +page + 1"
          class="btn"
        >
          Forward
        </button>
      </div>
    </div>
  </div>
</div>
<app-exam-modal
  *ngIf="isModalActive"
  (closeModal)="onClose()"
  [exam]="exam"
></app-exam-modal>
