@import "~src/styles/index.scss";

.edit {
  margin: 10rem 0;
  font-size: 1.4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 70rem;
  padding: 3rem;
  border-radius: 1rem;

  form {
    width: 45rem;
    margin: 5rem auto;
  }
}

.btn--outline {
  margin: 1rem 0;
}
