<div class="card">
  <app-home-nav></app-home-nav>
  <div class="edit">
    <h2>Edit profile</h2>
    <form>
      <div class="form-group" style="text-align: center">
        <label for="emoji">Enter Emoji</label>
        <input type="text" placeholder="Emoji" class="emoji" />
      </div>
      <div class="form-group">
        <input type="text" placeholder="First Name" />
      </div>
      <div class="form-group">
        <input type="text" placeholder="Last Name" />
      </div>
      <div class="form-group">
        <input type="text" placeholder="Email" />
      </div>
      <div class="form-group">
        <input type="text" placeholder="Email" />
      </div>
      <div class="form-group form-group--dob">
        <input type="text" placeholder="Day" />
        <input type="text" placeholder="Month" />
        <input type="text" placeholder="Year" />
      </div>
      <button class="btn">Submit</button>
    </form>
    <p>Joined 21 Jan 2020</p>
  </div>
</div>
