@import "~src/styles/index.scss";

.home {
  display: flex;
  height: 100vh;
  padding: 5rem;
  background-color: $color-tertiary;
}
.home-info {
  height: 100%;
  width: 30%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  // background: rgba($color-secondary, 0.74);
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  // backdrop-filter: blur(20px);
  // -webkit-backdrop-filter: blur(20px);

  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.home-desk {
  background-color: white;
  width: 70%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
