<div class="card" *ngIf="user$ | async as user">
  <div class="home-info">
    <app-uni-widget [user]="user"></app-uni-widget>
    <app-goals-widget [user]="user"></app-goals-widget>
  </div>
  <div class="home-desk">
    <app-nav></app-nav>

    <div class="home__today" *ngIf="todaySchedule$ | async as todaySchedule">
      <h3>{{ dayIndex | formatConst: daysConst }}</h3>
      <app-today-item
        *ngFor="let class of todaySchedule; let i = index"
        [index]="i"
        [class]="class"
      ></app-today-item>
      <p *ngIf="isEmpty(todaySchedule)" class="home__empty">
        You do not have classes today!
      </p>
    </div>
  </div>
</div>
